@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: "Poppins", sans-serif;
}

:root {
	--background-black: #1e2123;
	--background-gray: #292b2f;
	--background-light-gray: #363a44;
	--accent-cyan: #c7f1ef;
	--accent-aqua: #51d6c0;
	--accent-red: #bb3e5d;
	--text-strong: #dbdbe6;
	--text-faint: #acadb6;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	background-color: var(--background-black);
	color: var(--text-strong);
}
form {
	display: flex;
	flex-direction: column;
}
input,
textarea {
	border: 1px solid black;
	background: var(--text-faint);
	color: var(--background-black);
}
label {
	display: block;
}
textarea {
	resize: vertical;
}

button {
	background: var(--background-light-gray);
	color: var(--text-strong);
	border: 0;
	border-radius: 4px;
	padding: 0.4rem;
	padding-left: 1rem;
	padding-right: 1rem;
	cursor: pointer;
}

button:hover {
	filter: brightness(130%);
}

button:active {
	filter: brightness(70%);
}

/**** Modal *****/

.fade.modal-backdrop.show {
	background-color: var(--text-faint);
}

.modal-content {
	background-color: var(--background-black);
	color: var(--text-strong);
}

button.btn.btn-primary {
	color: var(--accent-red);
	background-color: var(--accent-aqua);
	border: none;
}

button.btn.btn-secondary {
	color: var(--accent-aqua);
	background-color: var(--accent-red);
	border: none;
}
